<div class="modal-header">
    <h1>Delete indexes</h1>
</div>
<div class="modal-body">
    <form role="form" class="form form-horizontal">
        <div class="form-group">
            <label for="copyToName" class="col-sm-4 control-label">Indexes</label>
            <div class="col-sm-8">
                <input id="copyToName" type="text" class="form-control" ng-model="indexes" autofocus="true"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary">Delete</button>
</div>