<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">On this page I introduce the different projects that made it possible for me to
            create this tool.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>At the beginning of 2013 I started learning about elasticsearch. Since than I have done multiple projects
            for customers and I have given multiple trainings. I found out about repetitive tasks that were dealing with
            tools to maintain your elacticsearch nodes and the cluster. Therefore I decided to create a tool to help
            make
            these tasks easier to perform.</p>

        <p>In the nearby future I am planning on creating more features related to configure your cluster an indexes.
        </p>

        <p>If you find bugs or have ideas for improvements, please use github.</p>
        <a href="https://github.com/jettro/maintain-elastic">https://github.com/jettro/maintain-elastic</a>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>Dropwizard</h3>
                <a href="http://dropwizard.io">website</a>

                <p>Dropwizard is a Java framework for developing ops-friendly, high-performance, RESTful web services. I
                    use it to create the REST api and to interact with the java driver of elasticearch.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>AngularJS</h3>
                <a href="http://angularjs.org">website</a>

                <p>AngularJS is the MVC framework for the client. The AngularJS client talks to my own REST api.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Twitter bootstrap</h3>
                <a href="http://twitter.github.com/bootstrap/#">website</a>

                <p>Twitter bootstrap is started as a pure css/html library to enable developers to create nice looking
                    websites without to much effort. Nowadays a lot of (javascript) components are available that make
                    life even easier.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>UI Bootstrap</h3>
                <a href="http://angular-ui.github.com/bootstrap/">website</a>

                <p>This is the glue between twitter bootstrap and angularjs. This library provides a number of directive
                    that enable developers to easily create rich client side components.</p>
            </div>
        </div>

    </div>
</div>
