<p>Underneath a list of indexes:</p>
<div ng-init="initIndexes()">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Actions <button type="button" class="btn btn-default btn-xs" title="Refresh"
                        ng-click="initIndexes()"><span class="fa fa-refresh"></span></button></th>
                <th>Name</th>
                <th>Alias</th>
                <th>State</th>
                <th>Status</th>
                <th>Shards</th>
                <th>Replicas</th>
                <th>Segments</th>
                <th>Docs</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="index in indexes">
                <td>
                    <button type="button" class="btn btn-default btn-xs" title="Copy">
                        <span class="fa fa-files-o"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Edit" ng-click="editIndexDialog(index)">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Remove"
                            confirmed-click="deleteIndex(index)"
                            ng-confirm-click="Do you want to remove the index {{index.name}}">
                        <span class="fa fa-trash-o"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Close"
                            confirmed-click="closeIndex(index)"
                            ng-confirm-click="Do you want to close the index {{index.name}}">
                        <span class="fa fa-sign-out"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Open"
                            confirm-click="openIndex(index)"
                            ng-confirm-click="Do you want to open the index {{index.key}}">
                        <span class="fa fa-sign-in"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="Optimize" ng-click="optimizeIndexDialog(index)">
                        <span class="fa fa-crop"></span>
                    </button>
                </td>
                <td>{{index.name}}</td>
                <td>{{index.aliases}}</td>
                <td>{{index.state}}</td>
                <td>{{index.status}}</td>
                <td>{{index.numberOfShards}}</td>
                <td>{{index.numberOfReplicas}}</td>
                <td>{{index.numberOfSegments}}</td>
                <td>{{index.docCount}}</td>
                <td>{{index.size}}</td>
            </tr>
        </tbody>
    </table>
</div>
